#online-lobby {
    height: 100%;
}

.online-lobby__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.online-lobby__container__header {
    height: 10%;
}

.online-lobby__container__content {
    height: 90%;
    width: 80%;
}

.online-lobby__container__content__mapList {
    height: 95%;
    width: 95%;
}

.online-lobby__container h2,
.online-lobby__container a {
    font-size: 100px;
    font-family: 'KGSecondChancesSketch', serif;
    font-weight: 900;
    color: #f4f4f0;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    opacity: 0.6;
    -webkit-user-select: none;
}

.online-lobby__container a {
    font-size: 80px;
}

.online-lobby__container a:hover {
    -webkit-font-smoothing: antialiased;
    opacity: 1;
}
