.main-frame
    .main-frame__header
        button.main-frame__header__back-button
        .main-frame__header__stub
        button.main-frame__header__ready-button__not-ready START
        .main-frame__header__stub
        p.main-frame__header__userlist__player-name-1 Offline
        .main-frame__header__stub
        button.main-frame__header__settings-button
    div.main-frame__wrapper
        div.main-frame__wrapper__container
            div.main-frame__wrapper__container__canvas-container
                canvas.main-frame__game-canvas

