.main-frame
    .main-frame__header
        button.main-frame__header__back-button
        .main-frame__header__stub
        button.main-frame__header__sound-button
        button.main-frame__header__settings-button

    .main-frame__content
        .main-frame__content__choice-column
            .main-frame__content__choice-column__stub

            a.main-frame__content__choice-column__login-button(id='disabled') LOGIN
            a.main-frame__content__choice-column__sign-up-button SIGN UP
            a.main-frame__content__choice-column__go-offline-button OFFLINE

            .main-frame__content__choice-column__stub

        .main-frame__content__content-column
            .stub
            form.main-frame__content__content-column__form
                div.main-frame__content__content-column__form__input
                    input.main-frame__content__content-column__form__username.input-ok(type='text', name='username', placeholder='username', value='')
                div.main-frame__content__content-column__form__input
                    input.main-frame__content__content-column__form__password.input-ok(type='password', name='password', placeholder='password', value='')

                input.main-frame__content__content-column__form__submit(type='submit', name='submit', value='GO!')
                .main-frame__content__content-column__form__socials
                    a.main-frame__content__content-column__form__socials__vk-button(href='https://oauth.vk.com/authorize?client_id=6206034&display=page&redirect_uri=https://physicsio.tech/backend/api/oauth/vk&scope=friends&response_type=code&v=5.69')
                    //a.main-frame__content__content-column__form__socials__facebook-button(href='')
            .stub

    .main-frame__footer
        button.main-frame__footer__about-button