@import "../../../css/main.css";

.forms .add-username-section {
    display: none;
}

form.add-username {
    font-family: "KGSecondChancesSketch", serif;
    color: #f4f4f0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    display: none;
}

form.add-username .username-header {
    font-size: 2rem;
}

form.add-username input[type=text] {
    font-family: inherit;
    color: inherit;
    font-size: 2rem;
    background: none;
    border: 10px solid rgba(255, 255, 255, .8);
    border-image: url("../../../img/chalk_input_border.png") 20;
    padding: 5px;
    height: 7vh;
    width: 24vw;
    margin-bottom: 10px;
}

form.add-username input:focus {
    outline: none;
}

form.login input::placeholder {
    color: rgba(244, 244, 244, 0.5);
    background-color: transparent;
}

form.add-username input[type=submit] {
    width: 26vw;
    font-family: "KGSecondChancesSketch", serif;
    font-weight: 900;
    font-size: 3rem;
    color: #ffffff;
    border: none;
    background: url("../../../img/chalk-background-filled.png");
    border-radius: 15px;
    opacity: 0.5;
    max-height: 70px;
    height: 10vh;
}

form.add-username input[type=submit]:hover {
    opacity: 1;
}