.main-block
    .main-block__frame
        table.main-block__frame__table
            tr.main-block__frame__table__tr
                td.main-block__frame__table__tr__td-1 1
                td.main-block__frame__table__tr__td-2 Player1
            tr.main-block__frame__table__tr
                td.main-block__frame__table__tr__td-1 1
                td.main-block__frame__table__tr__td-2 Player2