@import '../CommonCss/common.scss';

.main-frame{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        min-height: $buttonSize + 1em * 2;

        button{
            padding: 0;
            border: none;
            outline: 0;

            &:hover{
                cursor:pointer;
            }
        }

        &__stub {
            display: flex;
            flex-grow: 1;
        }

        //&__sound-button {
        //    display: flex;
        //    width: $buttonSize;
        //    height: $buttonSize;
        //    background: $sound_button_img 100% 100% no-repeat;
        //    background-size: contain;
        //    margin: 1em;
        //    opacity: 0.5;
        //
        //    &:hover {
        //        cursor:pointer;
        //        opacity: 1;
        //    }
        //}

        &__back-button {
            display: flex;
            width: $buttonSize;
            height: $buttonSize;
            background: $back_button_img 100% 100% no-repeat;
            background-size: contain;
            margin: 1em;
            opacity: 0.5;

            &:hover {
                cursor:pointer;
                opacity: 1;
            }
        }

        &__userlist {

            &__rating {
                //display: flex;
                width: $buttonSize/1.5;
                height: $buttonSize/1.5;
                background: $rating 100% 100% no-repeat;
                background-size: contain;
                margin: 1em 0.5em 1em 1em;
                opacity: 0.5;
                align-self: center;

                &:hover {
                    cursor:pointer;
                    opacity: 1;
                }
            }

            &__rating-level {
                opacity: 0.5;
                margin-right: 1vw;
                font-size: 1em;
                color: #f4f4f0;
                font-family: "KGSecondChancesSketch", serif;
                align-self: center;
            }

            &__player {
                //display: flex;
                width: $buttonSize/2;
                height: $buttonSize/2;
                background: $button_player 100% 100% no-repeat;
                background-size: contain;
                margin: 1em 0 1em 1em;
                align-self: center;
                opacity: 0.5;

                &:hover {
                    cursor:pointer;
                    opacity: 1;
                }
            }

            &__player-name {
                opacity: 0.5;
                margin-right: 1vw;
                font-size: 1em;
                color: #f4f4f0;
                font-family: "KGSecondChancesSketch", serif;
                align-self: center;
            }

        }

        &__settings-button {
            //display: flex;
            width: $buttonSize;
            height: $buttonSize;
            background: $settings_button_img 100% 100% no-repeat;
            background-size: contain;
            align-self: flex-end;
            margin: 1em;
            opacity: 0.5;

            &:hover {
                cursor:pointer;
                opacity: 1;
            }
        }

        //&__logout-button {
        //    //display: flex;
        //    width: $buttonSize;
        //    height: $buttonSize;
        //    background: $logout_button_img 100% 100% no-repeat;
        //    background-size: contain;
        //    align-self: flex-start;
        //    margin: 1em;
        //    opacity: 0.5;
        //
        //    &:hover {
        //        cursor:pointer;
        //        opacity: 1;
        //    }
        //}
    }

    &__lobby-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;

        &__filter {
            display: flex;
            min-height: 2em;
            //background: $background_filled 100%;
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 5vw;
            border-bottom: 1px solid #f4f4f0;
            border-top: 1px solid #f4f4f0;

            &__sort {
                margin-right: 14vw;
                background: none;
                font-size: 1.5em;
                border: none;
                color: #f4f4f0;
                font-family: "KGSecondChancesSketch", serif;
            }

            &__filter {
                margin-right: 14vw;
                background: none;
                font-size: 1.5em;
                border: none;
                color: #f4f4f0;
                font-family: "KGSecondChancesSketch", serif;
            }

        }



        &__maps {
            display: flex;
            margin: 1em 3em;
            //width: 100%;
            //flex-grow: 1;
            flex-direction: row;
            flex-wrap: wrap;
            //align-content: flex-start;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: scroll;

            //&__container {
            //    width: auto;
            //    margin: 1em auto;
            //    overflow: scroll;
            //    display: flex;
            //    flex-direction: column;
            //}

            &__map-tile{
                background: rgba(255,255,255,0.3) no-repeat;
                background-image: $button_play;
                background-size: 50%;
                background-position: 50% 30%;
                opacity: 0.7;
                display: flex;
                //flex-basis: 20vw;
                width: 14.5vw;
                max-height: 14.5vw;
                padding: 15px;
                border: 2px solid white;
                margin: 5px;
                flex-direction: column;
                color: #ffffff;

                p {
                    display: flex;
                    align-self: center;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                img{
                    flex-basis: 290px;
                    width: 100%;
                }
            }
        }
    }
}
