.main-frame

    .main-frame__header
        button.main-frame__header__back-button
        .main-frame__header__stub
        button.main-frame__header__sound-button
        button.main-frame__header__userList
        button.main-frame__header__settings-button
        button.main-frame__header__logout-button

    .main-frame__lobby-content
        .main-frame__lobby-content__filter
            button.main-frame__lobby-content__filter__sort Sort: 
            button.main-frame__lobby-content__filter__filter Filter:
        //div.main-frame__lobby-content__maps__container
        .main-frame__lobby-content__maps

