@font-face {
    font-family: 'KGSecondChancesSketch';
    /*font-style: normal;*/
    /*font-weight: 400;*/
    src: url(../fonts/KGSecondChancesSketch.ttf) format('truetype');
    /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;*/
}

/*@font-face {*/
    /*font-family: 'Cabin Sketch';*/
    /*font-style: normal;*/
    /*font-weight: 700;*/
    /*src: local('Cabin Sketch Bold'), local('CabinSketch-Bold'), url(../fonts/CabinSketchBold.woff2) format('woff2');*/
    /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;*/
/*}*/


* {
    margin: 0;
    padding: 0;
}

body, html {
    /*overflow-y: hidden;*/
    background: url("../img/chalkboard.jpg");
    background-size: 100% 100%;
    /*-webkit-background-size: cover;*/
    height: 100%;
}


.play-game-section {
    display: none;
}

.main {
    display: flex;
    /*display: none;*/
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.forms {
    display: flex;
    /*display: none;*/
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}



.main a {
    font-size: 100px;
    font-family: 'KGSecondChancesSketch', serif;
    font-weight: 900;
    color: #f4f4f0;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    opacity: 0.8;
}

.main a:hover {
    font-size: 105px;
    font-family: 'KGSecondChancesSketch', serif;
    font-weight: 900;
    color: #f4f4f0;
    -webkit-font-smoothing: antialiased;
    opacity:1;
}

form * {
    margin-bottom: 20px;
}

.input-ok {
    border: 15px solid rgba(255, 255, 255, .8);
    border-image: url("../img/chalk_input_border.png") 15;
}

.input-error {
    border: 15px solid rgba(255, 255, 255, .8);
    border-image: url("../img/chalk_input_border_error.png") 15;
}