@font-face {
    font-family: 'KGSecondChancesSketch';
    src: url(../fonts/KGSecondChancesSketch.ttf) format('truetype');
}



* {
    margin: 0;
    padding: 0;
}

body, html {
    background: url("../img/chalkboard.jpg");
    background-size: 100% 100%;
    height: 100%;
    cursor: url();
}


.play-game-section {
    height: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.forms {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}



.main a {
    font-size: 100px;
    font-family: 'KGSecondChancesSketch', serif;
    font-weight: 900;
    color: #f4f4f0;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    opacity: 0.6;
    -webkit-user-select: none;
}

.main a:hover {
    -webkit-font-smoothing: antialiased;
    opacity:1;
}

form * {
    margin-bottom: 20px;
}

.input-ok {
    border: 15px solid rgba(255, 255, 255, .8);
    border-image: url("../img/chalk_input_border.png") 15;
}

.input-error {
    border: 15px solid rgba(255, 255, 255, .8);
    border-image: url("../img/chalk_input_border_error.png") 15;
}