@import '../../Pages/CommonCss/common.scss';
$loadingBackground: url('../../../../img/Ball.svg');


.main-block {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__frame {
    width: 40vw;
    height: 40vh;
    background: $background_img no-repeat;
    background-size: cover;
    border: 0.4em solid rgba(255, 255, 255, .8);
    border-image: $border_wood 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__loading {
      height: 200px;
      width: 100%;
    }

    &__text {
      color: white;
    }
  }
}