.main-frame
    .main-frame__header
        button.main-frame__header__back-button
        .main-frame__header__stub
        button.main-frame__header__sound-button
        button.main-frame__header__settings-button

    .main-frame__content
        .main-frame__content__choice-column
            .main-frame__content__choice-column__stub

            a.main-frame__content__choice-column__login-button LOGIN
            a.main-frame__content__choice-column__sign-up-button(id='disabled') SIGN UP
            a.main-frame__content__choice-column__go-offline-button OFFLINE

            .main-frame__content__choice-column__stub

        .main-frame__content__content-column
            .stub
            form.main-frame__content__content-column__form
                div.main-frame__content__content-column__form__input
                    input.main-frame__content__content-column__form__username.input-ok(type='text', name='username', placeholder='username', value='')
                div.main-frame__content__content-column__form__input
                    input.main-frame__content__content-column__form__email.input-ok(type='text', name='email', placeholder='email', value='')
                div.main-frame__content__content-column__form__input
                    input.main-frame__content__content-column__form__password.input-ok(type='password', name='password', placeholder='password', value='')
                div.main-frame__content__content-column__form__input
                    input.main-frame__content__content-column__form__confirmation.input-ok(type='password', name='confirmation', placeholder='confirm password', value='')

                input.main-frame__content__content-column__form__submit(type='submit', name='submit', value='GO!')
                
                .main-frame__content__content-column__form__socials 
                    button.main-frame__content__content-column__form__socials__vk-button
                    button.main-frame__content__content-column__form__socials__facebook-button
            .stub

    .main-frame__footer
        button.main-frame__footer__about-button
