.main-frame

    .main-frame__header
        button.main-frame__header__back-button
        .main-frame__header__stub
        p.main-frame__header__userlist__player-name Offline
        .main-frame__header__stub
        button.main-frame__header__sound-button

    .main-frame__lobby-content
        .main-frame__lobby-content__maps

