.main_frame
    .main_frame__header
        .main_frame__header__stub
        button.main_frame__header__sound-button
        button.main_frame__header__settings-button

    .main_frame__content
        h2.main_frame__content__title Physics.io
        a.main_frame__content__play_button Play
    
    .main_frame__footer
        button.main_frame__footer__about_button
