.main-block
    .main-block__frame
        p.main-block__frame_text
            :verbatim
                developed by 42Team.
                Artur Ahadov @ArturBmstu
                Andrey Kuchin @nd-r.
                Daniil Kotelnikov @zwirec