.main-block
    .main-block__frame
        p.main-block__frame__text Developed by 42Team
        p.main-block__frame__text Artur Ahadov @ArturBmstu
        p.main-block__frame__text Andrey Kuchin @nd-r
        p.main-block__frame__text Daniil Kotelnikov @zwirec
