.main-block
    .main-block__frame
        .main-block__frame__stub
        .main-block__frame__message You win
        .main-block__frame__stub
        .main-block__frame__score
        .main-block__frame__time
        //.main-block__frame__user-block
        //    .main-block__frame__user-block__username
        //    .main-block__frame__user-block__rating-block
        //        .main-block__frame__user-block__rating-block__rating
        //        .main-block__frame__user-block__rating-block__rating-level
        .main-block__frame__stub
        .main-block__frame__footer
            .main-block__frame__footer__back-section
                .main-block__frame__footer__back-section__button
                .main-block__frame__footer__back-section__text BACK TO LOBBY

