$background_img: url("../../../img/chalkboard.jpg");
$back_button_img: url("../../../img/back_btn.png");
$about_button_img: url("../../../img/about_btn.png");
$settings_button_img: url("../../../img/settings.svg");
$sound_button_img: url("../../../img/sound_btn.png");
$background_filled: url("../../../img/chalk-background-filled.png");
$vk_button: url("../../../icons/facebook-logo.svg");
$facebook_button: url("../../../icons/vkontakte-draw.svg");

$font_name: 'KGSecondChancesSketch';

$buttonSize: 70px;

.stub {
    display: flex;
    flex-grow: 1;
    flex-shrink: 16;
}

html, body {
    min-width: 1280px;
    min-height: 720px;
    height: 100%;
    font-size: 24px;
    font-family: $font_name;
}

body {
    background: $background_img 100% 100% no-repeat;
    background-size: 100% 100%;
    flex-basis: 1024px;

    #main-frame {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
    
    #overlay {
        height: 100%;    
        display: none;
    }
}


@font-face{
    font-family: $font_name;
    src: url(../../../fonts/KGSecondChancesSketch.ttf) format('truetype');
}
