$background_img: url("../../../img/chalkboard.jpg");
$back_button_img: url("../../../img/back.svg");
$about_button_img: url("../../../img/exclamation.svg");
$settings_button_img: url("../../../img/configuration.svg");
$sound_button_img: url("../../../img/speaker.svg");
$mute_button_img: url("../../../img/mute-speaker.svg");
$background_filled: url("../../../img/chalk-background-filled.png");
$vk_button: url("../../../icons/facebook-logo.svg");
$facebook_button: url("../../../icons/vkontakte-draw.svg");
$logout_button_img: url("../../../img/logout.svg");
$border_img: url("../../../img/chalk_input_border.png");

$font_name: 'KGSecondChancesSketch';

$buttonSize: 3em;

.stub {
    display: flex;
    flex-grow: 1;
    flex-shrink: 16;
}

html, body {
    min-width: 480px; //1280
    min-height: 220px; //720
    height: 100%;
    font-size: 3vh;
    font-family: $font_name;
}

body {
    background: $background_img 100% 100% no-repeat;
    background-size: 100% 100%;
    flex-basis: 1024px;

    #main-frame {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
    
    #overlay {
        height: 100%;    
        display: none;
    }
}


@font-face{
    font-family: $font_name;
    src: url(../../../fonts/KGSecondChancesSketch.ttf) format('truetype');
}
