@import '../CommonCss/common.scss';

.main-frame {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

  &__header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    button {
      padding: 0;
      border: none;
      outline: 0;

      &:hover {
        cursor: pointer;
      }
    }

    &__stub {
      display: flex;
      flex-grow: 1;
    }

    &__sound-button {
      display: flex;
      width: $buttonSize;
      height: $buttonSize;
      background: $sound_button_img 100% 100% no-repeat;
      background-size: contain;
      align-self: flex-start;
    }

    &__back-button {
      display: flex;
      width: $buttonSize;
      height: $buttonSize;
      background: $back_button_img 100% 100% no-repeat;
      background-size: contain;
      align-self: flex-end;
    }

    &__settings-button {
      display: flex;
      width: $buttonSize;
      height: $buttonSize;
      background: $settings_button_img 100% 100% no-repeat;
      background-size: contain;
      align-self: flex-end;
    }

    &__ready-button {
      color: rgba($color: #ffffff, $alpha: 1.0);

      &__not-ready {
        display: flex;
        margin: 0 1em;
        font-size: 1.5em;
        align-self: center;
        height: $buttonSize;
        background: none;
        background-size: contain;
        color: #f4f4f0;
        font-family: "KGSecondChancesSketch", serif;
        opacity: 0.5;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }

      &__ready {
        background: rgba($color: #ffffff, $alpha: 0.4);
        display: flex;
        height: $buttonSize;
        background: none;
        margin: 0 1em;
        background-size: contain;
        align-self: center;
        color: #f4f4f0;
        font-size: 1.5em;
        font-family: "KGSecondChancesSketch", serif;
        opacity: 0.5;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }

    }
  }

  &__wrapper {
    display: flex;
    padding: 0;
    width: 76.8vw;
    height: 43.2vw;
    align-self: center;
    justify-content: center;
    align-items: center;

    &__container {
      display: flex;
      vertical-align: middle;
      //background: #ffffff;
      width: 76.8vw;
      height: 43.2vw;
      align-self: center;
      justify-content: center;
      align-items: center;

      &__canvas-container {
        max-width: 1024px;
        min-width: 320px;
        margin: 0 auto;
        width: 76.8vw;
        height: 43.2vw;
      }

    }

    canvas {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }

    &__game-canvas {

    }
  }
}
