.main-frame
    .main-frame__header
        button.main-frame__header__back-button
        button.main-frame__header__settings-button
        .main-frame__header__stub
        button.main-frame__header__ready-button__not-ready READY
        button.main-frame__header__ready-button__not-ready START

    canvas.main-frame__game-canvas
