.main-frame
    .main-frame__header
        button.main-frame__header__back-button
        .main-frame__header__stub
        button.main-frame__header__ready-button__not-ready START
        button.main-frame__header__userlist-1
            button.main-frame__header__userlist__rating-1
            p.main-frame__header__userlist__rating-level-1 1
            button.main-frame__header__userlist__player-1
            p.main-frame__header__userlist__player-name-1 Player
            p.main-frame__header__userlist__vs :
            p.main-frame__header__userlist__player-name-2 Player
            button.main-frame__header__userlist__player-2
            p.main-frame__header__userlist__rating-level-2 3
            button.main-frame__header__userlist__rating-2
        .main-frame__header__stub
        button.main-frame__header__settings-button
    div.main-frame__wrapper
        div.main-frame__wrapper__container
            div.main-frame__wrapper__container__canvas-container
                canvas.main-frame__game-canvas

