.main-frame
    .main-frame__header
        button.main-frame__header__back-button
        button.main-frame__header__settings-button
        .main-frame__header__stub
        button.main-frame__header__ready-button__not-ready READY

    div.main-frame__div-canvas
        canvas.main-frame__game-canvas
