.main-frame
    .main-frame__header
        button.main-frame__header__back-button
        button.main-frame__header__settings-button
        .main-frame__header__stub
        button.main-frame__header__ready-button__not-ready START
    div.main-frame__wrapper
        div.main-frame__wrapper__container
            div.main-frame__wrapper__container__canvas-container
                canvas.main-frame__game-canvas
