@import '../CommonCss/common.scss';

.main-frame {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

  &__header {
    display: flex;
    width: 100%;
    //height: $buttonSize + 1em;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button {
      padding: 0;
      border: none;
      outline: 0;

      &:hover {
        cursor: pointer;
      }
    }

    &__stub {
      display: flex;
      flex-grow: 1;
    }


    &__userlist {
      display: none;

      &__vs {
        opacity: 0.5;
        font-size: 1em;
        color: #f4f4f0;
        font-family: "KGSecondChancesSketch", serif;
        align-self: center;
      }

      &__rating-1 {
        width: $buttonSize*0.5;
        height: $buttonSize*0.5;
        background: $rating 100% 100% no-repeat;
        background-size: contain;
        margin: 1em 0.5em 1em 1em;
        opacity: 0.5;
        align-self: center;

        //&:hover {
        //  cursor:pointer;
        //  opacity: 1;
        //}
      }

      &__rating-level-1 {
        opacity: 0.5;
        margin-right: 1vw;
        font-size: 1em;
        color: #f4f4f0;
        font-family: "KGSecondChancesSketch", serif;
        align-self: center;
      }

      &__player-1 {
        width: $buttonSize*0.5;
        height: $buttonSize*0.5;
        background: $button_player 100% 100% no-repeat;
        background-size: contain;
        margin: 1em 0 1em 1em;
        align-self: center;
        opacity: 0.5;
        color: #2E97BD;

        //&:hover {
        //  cursor:pointer;
        //  opacity: 1;
        //}
      }

      &__player-name-1 {
        opacity: 0.7;
        margin-right: 1vw;
        font-size: 1em;
        color: #2E97BD;
        font-family: "KGSecondChancesSketch", serif;
        align-self: center;

      }

      &__rating-2 {
        width: $buttonSize*0.5;
        height: $buttonSize*0.5;
        background: $rating 100% 100% no-repeat;
        background-size: contain;
        margin: 1em 1em 1em 0.5em;
        opacity: 0.5;
        align-self: center;
        color: #FFCF56;

        //&:hover {
        //  cursor:pointer;
        //  opacity: 1;
        //}
      }

      &__rating-level-2 {
        opacity: 0.7;
        margin-left: 1vw;
        font-size: 1em;
        color: #f4f4f0;
        font-family: "KGSecondChancesSketch", serif;
        align-self: center;
      }

      &__player-2 {
        width: $buttonSize*0.5;
        height: $buttonSize*0.5;
        background: $button_player 100% 100% no-repeat;
        background-size: contain;
        margin: 1em 1em 1em 0;
        align-self: center;
        opacity: 0.5;

        //&:hover {
        //  cursor:pointer;
        //  opacity: 1;
        //}
      }

      &__player-name-2 {
        opacity: 0.5;
        margin-left: 1vw;
        font-size: 1em;
        color: #FFCF56;
        font-family: "KGSecondChancesSketch", serif;
        align-self: center;
      }

    }

    &__sound-button {
      display: flex;
      width: $buttonSize;
      height: $buttonSize;
      background: $sound_button_img 100% 100% no-repeat;
      background-size: contain;
      align-self: flex-start;
    }

    &__back-button {
      display: flex;
      width: $buttonSize;
      height: $buttonSize;
      background: $back_button_img 100% 100% no-repeat;
      background-size: contain;
      align-self: flex-start;
    }

    &__settings-button {
      display: flex;
      width: $buttonSize;
      height: $buttonSize;
      background: $settings_button_img 100% 100% no-repeat;
      background-size: contain;
      align-self: flex-end;
    }

    &__ready-button {
      color: rgba($color: #ffffff, $alpha: 1.0);

      &__not-ready {
        margin: 0 1em;
        font-size: 1.7em;
        height: $buttonSize;
        background: none;
        background-size: contain;
        color: #f4f4f0;
        font-family: "KGSecondChancesSketch", serif;
        opacity: 0.5;
        //display: none;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }

      &__ready {
        background: rgba($color: #ffffff, $alpha: 0.4);
        display: none;
        height: $buttonSize;
        background: none;
        margin: 0 1em;
        background-size: contain;
        color: #f4f4f0;
        font-size: 1.7em;
        font-family: "KGSecondChancesSketch", serif;
        opacity: 0.5;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }

    }
  }

  &__wrapper {
    display: flex;
    padding: 0;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-content: center;
    align-items: center;

    &__container {
      display: flex;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      align-self: center;
      justify-content: center;
      align-items: center;

      &__canvas-container {
        //max-width: 1024px;
        //min-width: 320px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
      }

    }

    canvas {
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
    }

    &__game-canvas {

    }
  }
}
