@import '../CommonCss/common.scss';
@import '../CommonCss/auth.scss';

.main-frame{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button{
            padding: 0;
            border: none;
            outline: 0;

            &:hover{
                cursor:pointer;
            }
        }

        &__stub {
            display: flex;
            flex-grow: 1;
        }

        &__sound-button {
            display: flex;
            width: $buttonSize;
            height: $buttonSize;
            margin: 1em;
            background: $sound_button_img 100% 100% no-repeat;
            background-size: contain;
            opacity: 0.5;

            &:hover {
                cursor:pointer;
                opacity: 1;
            }
        }

        &__back-button {
            display: flex;
            width: $buttonSize;
            height: $buttonSize;
            margin: 1em;
            background: $back_button_img 100% 100% no-repeat;
            background-size: contain;
            opacity: 0.5;

            &:hover {
                cursor:pointer;
                opacity: 1;
            }
        }

        &__settings-button {
            display: flex;
            width: $buttonSize;
            height: $buttonSize;
            margin: 1em;
            background: $settings_button_img 100% 100% no-repeat;
            background-size: contain;
            align-self: flex-start;
            opacity: 0.5;

            &:hover {
                cursor:pointer;
                opacity: 1;
            }
        }
    }

    &__content{
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        &__choice-column{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            flex-grow: 1;

            a{
                user-select: none;
                font-size: 2rem;
                color: rgba($color: #ffffff, $alpha: 0.5);
                margin-bottom: 20px;
                padding: 10px;
                border-radius: 20px;

                &:hover {
                    cursor:pointer;
                    color: rgba($color: #ffffff, $alpha: 1);
                }

            }

            &__login-button{

            }

            &__sign-up-button{

            }

            &__go-offline-button{

            }

            &__stub {
                display: flex;
                flex-grow: 1;
            }
        }

        &__content-column{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: center;

            &__form{
                color: #f4f4f0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: 100%;
                padding: 5em 0 0 5em;
                flex-wrap: nowrap;

                div {
                    position: relative;

                    input[type=text],
                    input[type=password] {
                        font-size: 1em;
                        background: none;
                        width: 24vw;
                        height: 3vh;
                        margin-bottom: 0;
                        padding: 5px;

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            color: rgba(244, 244, 244, 0.5);
                            background-color: transparent;
                        }
                    }

                }


                &__username{

                }

                &__email{

                }

                &__password{

                }

                &__confirmation {

                }

                &__submit{
                    width: 26vw;
                    min-height: 9vh;
                    font-family: "KGSecondChancesSketch", serif;

                    //font-weight: 900;
                    font-size: 2em;
                    color: #ffffff;

                    border: none;
                    background: $background_filled;
                    opacity: 0.5;

                    &:hover{
                        animation-play-state: initial;
                        opacity: 1;
                    }
                }

                &__socials {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-content: space-around;
                    margin-top: 20px;
                    width: 14rem;

                    button {
                        margin-top: 10px;
                        outline: none;
                        width: $buttonSize*1.2;
                        height: $buttonSize*1.2;
                        border: 0;
                        opacity: 0.5;

                        &:hover {
                            animation: shake 0.5s linear both;
                            transform: translate3d(0, 0, 0);
                            backface-visibility: hidden;
                            perspective: 1000px;
                            opacity: 1;
                        }
                    }

                    &__vk-button {
                        background: $vk_button;
                    }

                    &__facebook-button {
                        background: $facebook_button;
                    }
                }
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button{
            padding: 0;
            border: none;
            outline: 0;

            &:hover{
                cursor:pointer;
            }
        }

        &__about-button {
            width: $buttonSize;
            height: $buttonSize;
            margin-right: 1em;
            margin-bottom: 1em;
            background: $about_button_img 100% 100% no-repeat;
            background-size: cover;
            align-self: flex-end;
            opacity: 0.5;

            &:hover {
                cursor:pointer;
                opacity: 1;
            }
        }
    }
}