.lobby-online__container
    .lobby-online__container__header
        button.lobby-online__container__settings-button
    .lobby-online__container__mapsList
     each map in map_tiles
        .lobby-online__container__map
            p.Title #{map.id}
            p.Rating #{map.name}
