.lobby-online__container
    .lobby-online__container__header
        button.lobby-online__container__settings-button
    .lobby-online__container__mapsList
        .lobby-online__container__map
            p.Title 1
            p.Rating 2/5
